<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <h2 class="f2 b lh-title mb2">{{.heading}}</h2>
    <p class="mb4 mw6">{{.description}}</p>

    <div class="flex-ns mhn2-ns mb3">
      <div class="ph2-ns w-50-ns">
        {{ partial "blockquote" (dict "quote" "I’m a passionate Software Engineer with focus on Web Development and a strong interest in Artificial Intelligence.") }}

        <p>For the past 15+ years, I’ve handcrafted and led the implementation of several enterprise web applications
          and
          websites. I have worked in many cutting edge technology companies and gained experience in a variety of
          programming languages.</p>

        <p>Outside of work, I tinker with electronics and I’m a go-to Mr. Fix-it. When I’m not in front of a computer, I
          can be found in a spin class, on a long bike ride around the Twin Cities (weather permitting), or at the
          hardware store picking up supplies for my next home improvement project.</p>

        <p>My friends would describe me as: intuitive, introverted, diligent, loyal, life-of-the-party, and
          family-oriented. I consider myself a leader within my community and aspire to be a role model for the next
          generation.</p>

        <br />
        <div class="">
          <a href="https://www.linkedin.com/in/christelngani/" target="_blank" class="btn raise">View my Profile on
            LinkedIn <i class="fab fa-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="ph2-ns w-50-ns white" style="background-color: #3cc7c6; padding: 15px 15px 15px 15px;">
      <!-- <p>{{.text2}}</p> -->
      <div>
        <i class="fa fa-lg fa-laptop"></i><span style="font-weight: 900;"> Web Development</span><br />
        <span>Java, Javascript, React, JQuery, WordPress, ES6, HTML5, CSS, Oracle, XML, SQL,
          Spring, Hibernate, Selenium, Github, SVN, MVC</span>
      </div>
      <br />
      <div>
        <i class="fa fa-lg fa-brain"></i><span style="font-weight: 900;"> Artificial Intelligence</span><br />
        <span>Leading AI and Chatbot/Virtual-Assistant initiatives, AI Strategy and delivery</span>
      </div>

      <br />
      <div>
        <i class="fa fa-lg fa-cogs"></i><span style="font-weight: 900;"> Skills</span><br />
        <span>Agile Methodology, Wireframes & Prototypes, Design, Coaching, Team Management,
          Strategy/Planning/Estimation</span>
      </div>

      <br />
      <div>
        <i class="fa fa-lg fa-briefcase"></i><span style="font-weight: 900;"> Tools</span><br />
        <p style="font-weight: 100;">Visual Studio Code, Eclipse, SublimeText, PowerDesigner, Sharepoint, JIRA,
          Confluence, MagicDrawUML, Photoshop</p>
      </div>

      <br />
      <div>
        <i class="fa fa-lg fa-bicycle"></i><span style="font-weight: 900;"> Cycling</span><br />
        <span>Road cycling, Spin class, Mountain biking, Strava</span>
      </div>

    </div>
  </div>

  {{ if .buttonText }}
  <div class="tc">
    <a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
  </div>
  {{ end }}
</div>
</div>