{{ partial "head" . }}

{{ partial "nav" . }}


<div
    class="bg-grey-1 pv4 overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-grey divider-grey relative">
    <div class="ph3 mw7 center">

        <div class="flex-l mhn2-l">
            <div class="w-70-l ph2-l">
                <span class="f1 grey-5">Hello! I'm</span><span class="f1"> Christel Ngani,</span>
                <p class="f3 grey-5">Software Engineer based in the Greater Minneapolis area. I'm a proud <span
                        class="allfunctions"
                        style="color: black; font-weight: bold; min-width: 120px; max-width: 148px; display: inline-block; text-align: center;"></span>
                    <span style="display: inline;">and self-proclaimed geek
                        with a special knack for all things IT</span></p>
            </div>
            <div class="w-30-l ph2-l">
                <img src="img/home/christel-portrait-round-wt-p.jpg" width="100%" height="auto" alt="photo christel">
            </div>
        </div>
    </div>
</div>

<div class="icon-scroll"></div>

{{ partial "2-up" (dict "heading" "About me")}}
<br />

<!-- {{ partial "text-and-image-homepage" (dict "heading" "Hello! I'm Christel Ngani," "text" "Software Engineer based in the Greater Minneapolis area. I'm a proud Dad and self-proclaimed geek with a special knack for all things IT" "buttonText" "Read more" "buttonLink" "/about") }} 

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Great coffee with a conscience" "subtitle" "Support sustainable farming while enjoying a cup") }}

{{ partial "short-text" (dict "heading" "Why Kaldi?" "text" "Kaldi is the coffee store for everyone who believes that great coffee shouldn't just taste good, it should do good too. We source all of our beans directly from small scale sustainable farmers and make sure part of the profits are reinvested in their communities.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "Kaldi is the ultimate spot for coffee lovers who want to learn about their java’s origin and support the farmers that grew it. We take coffee production, roasting and brewing seriously and we’re glad to pass that knowledge to anyone." "svg1" "img/illustrations/coffee.svg" "text1" "We sell green and roasted coffee beans that are sourced directly from independent farmers and farm cooperatives. We’re proud to offer a variety of coffee beans grown with great care for the environment and local communities. Check our post or contact us directly for current availability." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully curated selection of brewing gear and tools for every taste and experience level. No matter if you roast your own beans or just bought your first french press, you’ll find a gadget to fall in love with in our shop." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Coffee is an amazing part of human culture but it has a dark side too – one of colonialism and mindless abuse of natural resources and human lives. We want to turn this around and return the coffee trade to the drink’s exhilarating, empowering and unifying nature." "buttonText" "Read more" "buttonLink" "/about") }}

{{ partial "blog" . }} -->

{{ partial "footer" . }}